@import "../../../styles.scss";

.main {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 75px;
  padding-right: 75px;
}

.main__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content__filter {
  display: flex;
  max-width: 600px;
}

.content__results {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 40px;
  gap: 4px;
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 45px;
}

.article {
  display: flex;
  justify-content: center;
}

.article__card {
  display: flex;
  width: 400px;
  min-height: 530px;
  overflow: hidden;
}

.card__overlay {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.card__image {
  position: relative;
  width: 100%;
  height: 217px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__date {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  color: rgba($color: $primary, $alpha: 0.6);
}

.card__summary {
  font-size: 16px;
  line-height: 1.5;
}

.card__actions {
  display: flex;
}

@media (max-width: 1440px) {
  .main__content {
    width: 100%;
  }
  .articles {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1024px) {
  .articles {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 480px) {
  .main {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
