$primary: #363636;

* {
  min-width: 0;
}

html,
body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  color: $primary;

  --mat-form-field-container-text-font: Montserrat, sans-serif;
  --mat-form-field-subscript-text-font: Montserrat, sans-serif;
  --mdc-filled-text-field-label-text-font: Montserrat, sans-serif;
  --mdc-outlined-text-field-label-text-font: Montserrat, sans-serif;
  --mat-card-title-text-font: Montserrat, sans-serif;
  --mat-card-title-text-line-height: 29px;
  --mat-card-title-text-size: 24px;
  --mat-card-title-text-weight: 400;
  --mat-card-title-text-color: $primary;
  --mat-card-subtitle-text-font: Montserrat, sans-serif;
  --mat-card-subtitle-text-line-height: 24px;
  --mat-card-subtitle-text-size: 16px;
  --mat-card-subtitle-text-weight: 400;
  --mat-card-subtitle-text-color: $primary;
}

.highlight {
  background-color: #fff619;
}
